.dyvix-file-lens {
  border: 4px dashed #3c0349;
  background-color: #1f2937;
  background: radial-gradient(circle, #000000 0%, #1a1a1a 100%);
  box-shadow: 0 0 30px #b903e2;
  -webkit-box-shadow: 0 0 30px #b903e2;
  -moz-box-shadow: 0 0 30px #b903e2;
  transition: border-color 0.2s ease-in-out,
              background 0.3s ease-in-out,
              transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dyvix-file-lens p {
  color: whitesmoke;
  transition: color 0.2s ease;
}
.dyvix-file-lens:hover {
  border-color: #6a2a7a; 
  background: rgb(47, 4, 47);
  transform: scale(1.02);
}
.dyvix-file-lens:hover p {
  color: grey;
}
.dyvix-file-industrial {
  border: 2px dashed #374151;
  border-radius: 5px;
  background-color: #0a1429;
  transition: border-radius 0.2s ease,
              background-color 0.3s ease,
              transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.dyvix-file-industrial p {
  font-family: 'Geist';
  color: #9ca3af;
  transition: color 0.2s ease;
}
.dyvix-file-industrial:hover {
  border-radius: 10px;
  background-color: #6b7280;  
  transform: scale(1.03);
}
.dyvix-file-industrial:hover p {
  color: #ffffff;
}